absl-py==2.1.0
aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
alpaca==1.0.0
alpaca-py==0.39.1
alpaca-trade-api==3.2.0
annotated-types==0.7.0
anyio==3.7.1
apns==2.0.1
apns2==0.7.2
appdirs==1.4.4
arrow==1.3.0
astunparse==1.6.3
Async-OAuthlib==0.0.9
attrs==25.3.0
bayesian-optimization==2.0.3
beautifulsoup4==4.13.3
bidict==0.23.1
binaryornot==0.4.4
blessed==1.21.0
blinker==1.9.0
blis==1.0.2
bsdiff4==1.2.6
build==1.2.2.post1
buildozer==1.5.0
CacheControl==0.14.2
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.6.15
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.21.0
cloudpickle==3.1.1
colorama==0.4.6
confection==0.1.5
contourpy==1.3.1
cookiecutter==2.6.0
cryptography==44.0.2
cycler==0.12.1
cymem==2.0.11
Cython==3.0.12
dacite==1.9.2
dataclasses-json==0.6.7
dateparser==1.2.2
Deprecated==1.2.18
deprecation==2.1.0
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dlib==19.24.9
docopt==0.6.2
docstring_parser==0.16
docutils==0.21.2
easy-pil==0.4.0
enlighten==1.14.1
et_xmlfile==2.0.0
exchange_calendars==4.10
Faker==37.3.0
Farama-Notifications==0.0.4
fastapi==0.103.2
filelock==3.18.0
filetype==1.2.0
firebase==4.0.1
firebase-admin==6.7.0
Flask==3.1.0
flask-cors==5.0.1
Flask-SocketIO==5.5.1
flatbuffers==25.2.10
fonttools==4.56.0
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2025.3.0
futures==3.0.5
gast==0.6.0
geographiclib==2.0
geopy==2.4.1
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.30.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.1
google-cloud-resource-manager==1.14.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-generativeai==0.8.4
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
grpc-google-iam-v1==0.14.1
grpcio==1.71.0
grpcio-status==1.71.0
gspread==6.2.1
gspread-formatting==1.2.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
h11==0.14.0
h2==2.6.2
h3==4.2.2
h5py==3.13.0
hpack==3.0.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.29.3
hyper==0.7.0
Hypercorn==0.17.3
hyperframe==3.2.0
id==1.5.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
investpy==1.0.8
ipc==1.2.1
itsdangerous==2.2.0
jaconv==0.4.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.6.1
jaxlib==0.6.1
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
keras==3.9.0
keras-models==0.0.7
keras-nightly==3.6.0.dev2024100503
Keras-Preprocessing==1.1.2
keyring==25.6.0
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy-ios==2024.3.17
kiwisolver==1.4.8
korean-lunar-calendar==0.3.1
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-text-splitters==0.3.11
langcodes==3.5.0
langsmith==0.4.34
language_data==1.3.0
libclang==18.1.1
llama_cpp_python==0.3.16
lxml==5.3.2
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplot==0.1.9
matplotlib==3.10.1
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.1
more-itertools==10.6.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multitasking==0.0.11
murmurhash==1.0.12
mutagen==1.47.0
mutf8==1.0.6
mypy_extensions==1.1.0
namex==0.0.8
networkx==3.4.2
nextcord==3.0.1
nextcord-ext-ipc==2.2.1
nh3==0.2.21
nltk==3.9.1
nump==5.5.5.5
numpy==1.26.4
oauthlib==3.2.2
ollama==0.6.0
openai==1.108.1
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpyxl==3.1.5
openstep_parser==2.0.1
opt_einsum==3.4.0
optree==0.14.1
orjson==3.11.3
packaging==24.2
pandas==2.2.3
pandas_market_calendars==4.6.1
pathlib==1.0.1
payload_dumper==0.3.0
pbxproj==4.2.1
peewee==3.17.9
pexpect==4.9.0
pillow==11.2.1
pkginfo==1.12.1.2
platformdirs==3.11.0
pluggy==1.5.0
plyer==2.1.0
polars==1.25.2
portalocker==2.10.1
prefixed==0.9.0
preshed==3.0.9
priority==2.0.0
prometheus_client==0.21.1
propcache==0.3.0
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pycairo==1.28.0
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.11.0
pydantic_core==2.27.2
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyGObject==3.52.3
PyJWT==1.7.1
pykakasi==2.3.0
pyloco==0.0.139
pyluach==2.2.0
PyMsgBox==1.0.9
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-Quartz==11.0
PyOpenGL==3.1.10
pyOpenSSL==25.0.0
pyparsing==3.2.1
pyperclip==1.9.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.2
PyRect==0.2.0
PyScreeze==1.0.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.11.2
python-slugify==8.0.4
python-socketio==5.12.1
pytube==15.0.0
pytweening==1.2.0
pytz==2025.1
PyYAML==6.0.2
Quart==0.20.0
Quart-Discord==2.1.4
RapidFuzz==3.13.0
readme_renderer==44.0
redis==6.2.0
regex==2024.11.6
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
rsa==4.9
rubicon-objc==0.5.0
rumps==0.4.0
safetensors==0.5.3
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==80.9.0
sh==2.0.7
shapely==2.0.7
shellingham==1.5.4
Shimmy==2.0.0
simple-websocket==1.1.0
SimpleWebSocketServer==0.1.2
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
soundcloud-v2==1.6.0
sounddevice==0.5.2
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spotdl==4.2.11
spotipy==2.25.1
SQLAlchemy==2.0.44
srsly==2.5.1
srt==3.5.3
sseclient-py==1.8.0
stable_baselines3==2.5.0
starlette==0.27.0
sympy==1.13.1
syncedlyrics==1.0.1
ta==0.11.0
tb-nightly==2.19.0a20241005
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-macos==2.16.2
termcolor==2.5.0
text-unidecode==1.3
textblob==0.19.0
tf_keras==2.19.0
thinc==9.1.1
threadpoolctl==3.6.0
timezonefinder==6.5.8
tokenizers==0.21.1
toml==0.10.2
toolz==1.0.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.49.0
twine==6.1.0
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing==3.7.4.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.3.0
ushlex==0.99.1
uvicorn==0.23.2
uWSGI==2.0.28
vertexai==1.71.1
virtualenv==20.29.3
vosk==0.3.44
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
wheel==0.45.1
Whoosh==2.7.4
wrapt==1.17.2
wsproto==1.2.0
wxPython==4.2.3
xlrd==2.0.1
yarl==1.18.3
yfinance==0.2.55
yt-dlp==2025.6.9
ytmusicapi==1.10.3
zipp==3.21.0
zstandard==0.25.0
